

/** */
header {
    nav {
        background-color: #7186a0;
        color: white;
    }
    .post {
        position: absolute;
        top: .4em;
        right: .4em;
        width: 6em;
    }
}
.search {
    .more {
        display: none;
    }
}
