/** Variables
 
 *
 */
$header-top: 54px;
$gutter: 16px;


/** Bootstrap overwrite
 *
 */
.card-deck .card:not(:last-child) {
    margin-right: 0!important;
}
/** Bootstrap break points;
 *
 */
$break-sm: 576x;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;


/** Layout
 *
 */





/** Module
 *
 *
 */
@import 'header';

section.content {
    @import 'content';
}




.bottom-text {
    margin: 1em 0;
    text-align: center;
    font-size: 2em;
}